.nav {
  background-color: purple;
}
.nav-link {
  color: green;
}

.about-me {
  border: solid


}
.welcome-img {
  border-radius: 50%;
  transition: all .5s;
}
.welcome-img:hover {
  transform: scale(1.2) rotate(360deg);
}

.projects {
  border: solid;
  padding: 75px;
}
.contact {
  border: solid;
  padding: 50px;
}

 .contact-form {
   border: solid;
   border-radius: 10px;
   width: 45%;
   padding: 75px;
   background-color: purple;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: purple;
    color: white;
    text-align: center;

}
.fab, .far{
  color: green;
}
